.DS_Store

.gradle
.kotlin
.idea

build
.cxx
.externalNativeBuild
obj

*.apk
*.iml

/builds

/captures
/local.properties

libc++_shared.so

# Blockchain related files (should not be in this project)
*.html
blockchain*.js
blockchain*.py
init_blockchain.js
sample_assets.js
script*.js
style.css
secure-asset-manager/
